[submodule "microdrop/gui/textbuffer_with_undo"]
	path = microdrop/gui/textbuffer_with_undo
	url = http://microfluidics.utoronto.ca/git/python___pygtk___gtk-textbuffer-with-undo.git
[submodule "microdrop/opencv"]
	path = microdrop/opencv
	url = http://microfluidics.utoronto.ca/git/python___opencv_examples.git
[submodule "microdrop/svg_model"]
	path = microdrop/svg_model
	url = http://microfluidics.utoronto.ca/git/python___svg_model.git
[submodule "microdrop/flatland"]
	path = microdrop/flatland
	url = http://microfluidics.utoronto.ca/git/flatland.git
[submodule "microdrop/task_scheduler"]
	path = microdrop/task_scheduler
	url = http://microfluidics.utoronto.ca/git/python___task_scheduler.git
[submodule "microdrop/update_repository"]
	path = microdrop/update_repository
	url = http://microfluidics.utoronto.ca/git/microdrop___plugin_repository.git
[submodule "microdrop/utility"]
	path = microdrop/utility
	url = http://microfluidics.utoronto.ca/git/python___utility.git
