download_cache
logdict*
microdrop/version.txt
microdrop/etc/
microdrop/share/
doc
build
dist
*.pyc
.sconsign.dblite
dmf_control_board_base.so
.microdrop
*.exe
*.dll
*.pyd
.project
.pydevproject
warnmicrodrop.txt
*.msi
*.wixpdb
*.wixobj
*.wxs
microdrop/plugins/*.yml
RELEASE-VERSION
.settings/
src/
setup.py
paver-minilib.zip
*.egg-info/
microdrop/requirements.txt

# Back-up files.
*~

# Old submodules.  Now separate Python packages.
microdrop/gui/textbuffer_with_undo/
microdrop/svg_model/
microdrop/task_scheduler/
microdrop/update_repository/
microdrop/utility/
