download_cache
logdict*
microdrop/version.txt
microdrop/devices/
microdrop/etc/
microdrop/share/
doc
build
dist
*.pyc
.sconsign.dblite
dmf_control_board_base.so
.microdrop
*.exe
*.dll
*.pyd
.project
.pydevproject
warnmicrodrop.txt
*.msi
*.wixpdb
*.wixobj
*.wxs
microdrop/plugins/*.yml
RELEASE-VERSION
.settings/
src/
